//// Colors

// Text Colors
$body-color: #F8F4F0;
$secondary-body-color: #A4A2A0;

// Links Colors
$link-hover-color: #fff;

// Component Colors
$body-bg: #0F1012;
$line-color: #222224;

//// Link Tags
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
$a-tags-normal: 'a, a:visited';

//// Fonts
$space-mono-font-path: "../resources/fonts/Space_Mono";
$lora-font-path: "../resources/fonts/Lora/Static";
$font-family-monospace: "Space Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-serif: Lora, Georgia, "Times New Roman", Times, serif;
